<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Adicionar</h1>
    <input type="text" id="Chat_Name" placeholder="Digite o Titulo da Mensagem">
    <input type="text" id="Chat_Image" placeholder="Insira a Url de Uma Image">
    <textarea id="Chat_Conteudo" placeholder="Insira o Conteudo"></textarea>
    <button onclick="Enviar()">Click</button>
</body>
<script src="../static/Add.js"></script>
</html>