<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="Register">
        <h1>Register</h1>
        <input type="text" placeholder="Digite o seu nome" id="nome">
        <input type="text" placeholder="Digite a sua Senha" id="senha">
        <button onclick="Registar()">Registar</button>
    </div>
    
    <div id="Login">
        <h1>Login</h1>
        <input type="text" placeholder="Digite o seu nome" id="nome_Login">
        <input type="text" placeholder="Digite a sua Senha" id="senha_Login">
        <button onclick="Login()">Login</button>
    </div>
</body>
<script src="../static/Register.js"></script>
</html>