*{
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}


body::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.40);
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.button_Default,#Editar_Conteudo > button{
  all: unset;
  display: block;
  margin: auto;
  margin-top: 2vh;
  background-color: #0a0606;
  border: 0.2vh solid yellow;
  padding: 1vh;
  width: 10%;
  text-align: center;
  cursor: pointer;
  border-radius: 2vh;
}

.Input_Default,:is(#Editar_Conteudo,#Add_button,#Adicionar_Personagens) > :is(input,textarea){
  all: unset;
  border-bottom: 0.2vh solid white;
  display: block;
  width: 40%;
  padding-bottom: 0.2vh;
  margin: auto;
  text-align: center;
  padding: 2vh;
  margin-top: 4vh;
  background-color: #252525;
}

input::placeholder{
  color: yellow;
}

#Body{
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#Sidebar{
  background-color: #110e0e;
  position: fixed;
  width: 16%;
  border-radius: 0.5vh 0 0 0.5vh;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 1;
}


#Click_Menu{
  all: unset;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 0.5vh;
  margin-right: 2vh;
  font-size: 6vh;
  cursor: pointer;
  z-index: 2;
}

#Sidebar > a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 2vh;
  font-size: 3vh;
  text-align: left;
  cursor: pointer;
}

#Sidebar > a:hover{
  color: yellow;
}

#Conteudo{
  position: relative;
}

#Conteudo > div{
  border: 0.2vh solid wheat;
  background-color: #0a0808;
  border-radius: 2vh;
  width: 40%;
  height: 80vh;
  display: block;
  margin: auto;
  text-align: center;
  padding: 1vh;
  margin-top: 2vh;

}

#Objeto_Image{
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

iframe{
  width: 50%;
  height: 100vh;
}

#Adicionar_Personagens,#Editar_Conteudo,#Visualizador_Conteudo{
  position: fixed;
  background-color: #0a0606;
  top: 0;
  z-index: 3;
  width: 100%;                                                                                                                                                                                      
  height: 100vh;
  display: none;
}

/* Perfil */

#Caixa_Perfil{
  text-align: center;
}

#Edit_Btn{
  all: unset;
}

#Edit_Btn > img{
  width: 4vh;
  cursor: pointer;
  height: 4vh;
  position: fixed;
  padding: 2vh;
}

#Caixa_Perfil > img{
  width: 50vh;
  height: 50vh;
  margin-top: 4vh;
  border-radius: 50%;
}

#Caixa_Perfil > h1{
  font-size: 5vh;
  margin-top: 2vh;
}

#Caixa_Perfil > p{
  font-size: 2vh;
  width: 40%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1vh;
}

/* Configuration */
.Caixa_Style{
  width: 40vh;
  padding: 2vh;
  border: 0.2vh solid white;
  margin-top: 2vh;
}

.Caixa_Style > img{
  width: 100%;
  height: 100%;
}

/* Rpg Jogar */

#Conteudo_Person{
  display: flex;
}

#Conteudo_Person > div{
  text-align: center;
}

#Conteudo_Person > div > img{
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

#Conteudo_Body{

}

#Button_Body_add > button{
  all: unset;
  padding: 5vh;
  font-size: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
  border: 0.4vh solid yellow;
  margin-top: 2vh;
  margin-left: 2vh;
}

#Personagens_Body{
  width: 65%;
  margin-top: 2vh;
  margin-left: 2vh;
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
}

#Personagens_Body > div{
  border: 0.6vh solid rgb(29, 7, 7);
  background-color: rgb(1, 4, 19);
  padding: 2vh;
  width: 50%;
  height: 40vh;
  margin: auto;
  margin-top: 2vh;
  border-radius: 2vh;
  display: flex;
  text-align: center;
  flex-flow: column nowrap;
  justify-content: center;
}


#Personagens_Body > div > img{
  width: 20vh;
  height: 20vh;
  display: block;
  margin: auto;
}